.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  background: #00b08d;
}

.content{
	margin-top: 100px;
	background-color: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 16px;
  height: 100%;
}

.titleCard{
	box-shadow: 2px 2px 8px rgba(102, 102, 102, 0.16);
	background: white;
	border-radius: 12px;
	display: flex;
	position: relative;
	padding: 12px;
	margin-top: -54px;
}

.titleCardThumbnail{
	margin-right: 12px;
	flex: 0 0 auto;
	width: 60px;
}

.titleCardContent{
	flex: 1 1 auto;
}

.titleCardName{
	font-weight: 700;
	font-size: 16px;
  line-height: 20px;
  margin-bottom: 2px;
  font-family: "DM Sans", sans-serif;
}

.titleStatus{
  display: flex;
  align-items: center;	
}

.titleStatus span {
  font-size: 12px;
  color: #666666;
}

.address{
	margin-top: 16px;
}

.addressLabel{
	font-size: 16px;
	font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.addressDetail{
	font-size: 12px;
	color: #666666;
}

.main {
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  background: #00b08d;
  width: 100%;
  padding: 12px 16px;
  max-width: 768px;
  margin: 0 auto;
  z-index: 1;
}

.headerContainer{
  display: inline-block;
  cursor: pointer;
}

.location {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 17px;
}

.locationCity:after {
  content: ", ";
  margin-right: 5px;
}

.searchbox {
  position: relative;
}

.searchbox input {
  border: none;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(102, 102, 102, 0.16);
  width: 100%;
  bottom: -32px;
  position: absolute;
}

.button{
  display: block;
  background: #00B08D;
  padding: 10px 16px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.map{
  margin: 16px 0;
  filter: drop-shadow(2px 2px 8px rgba(102, 102, 102, 0.16));
  border-radius: 12px;
  overflow: hidden;
}

.map img{
  width: 100%;
}

.iconMap {
  background-image: url(/images/ic-location.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.iconShare {
  background-image: url(/images/ic-share.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
}

.iconStatus {
  background-image: url(/images/ic-check-circle.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.bottomSheet {
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  top: -20px;
}

.bottomSheetTitle {
  font-weight: 700;
  font-size: 20px;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.itemLink {
  cursor: pointer;
  display: block;
}

.thumbnail {
  padding: 12px 0;
}

.thumbnailImage {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(102, 102, 102, 0.16);
  line-height: 0;
}

.thumbnailImage img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}

.details {
  padding: 18px 0;
  border-bottom: 1px solid #d9d9d9;
  flex: 1 1 auto;
  margin-left: 12px;
}

.category {
  color: #666666;
  font-size: 10px;
}

.name {
  font-weight: 700;
  font-size: 14px;
}

.loc {
  display: flex;
}

.distance {
  font-weight: 700;
  font-size: 10px;
  color: #666666;
}

.city {
  font-size: 10px;
  color: #666666;
}

.city::before {
  content: "•";
  margin: 0 5px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
	Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
	width: 100%;
	flex-direction: column;
  }
}
