.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}



.main {
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  background: #00b08d;
  width: 100%;
  padding: 12px 16px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  max-width: 768px;
  margin: 0 auto;
  z-index: 1;
}

.location {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.locationCity:after {
  content: ", ";
  margin-right: 5px;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
  z-index: 2;
  top: 0;
  left: 0;
}

.searchbox {
  position: relative;
  height: 40px;
  bottom: -20px;
  z-index: 3;
}

.searchbox input {
  border: none;
  background: #fff;
  padding: 12px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(102, 102, 102, 0.16);
  width: 100%;
  margin: 0;
  position: absolute;
}

.searchbox input:focus {
  outline: none;
}

.searchReset{
  position: absolute;
  right: 12px;
  top: 8px;
}

.searchResult{
  position: absolute;
  width: 100%;
  max-height: 300px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(102, 102, 102, 0.16);
  top: 100%;
  overflow-y: auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.searchResultItem{
  padding: 8px 12px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #D9D9D9;
}

.searchResultItemInfo{
  flex: 1 1 auto;
}

.searchResultItemTitle{
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

.searchResultItemTitle strong{
  font-weight: 700;
}

.searchResultItemLocation{
  flex: 0 0 auto;
  color: #666666;
  font-size: 10px;
  line-height: 16px;
}

.searchResultItemDistance{
  color: #666666;
  font-size: 10px;
  line-height: 16px;
}

.iconMap {
  background-image: url(/images/ic-location.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.iconDropdown {
  background-image: url(/images/ic-arrow.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
}

.bottomSheet {
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  top: -20px;
}

.bottomSheetTitle {
  font-weight: 700;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.itemLink {
  cursor: pointer;
  display: block;
}

.thumbnail {
  padding: 12px 0;
}

.thumbnailImage {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(102, 102, 102, 0.16);
  line-height: 0;
}

.thumbnailImage img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}

.details {
  padding: 18px 0;
  border-bottom: 1px solid #d9d9d9;
  flex: 1 1 auto;
  margin-left: 12px;
}

.category {
  color: #666666;
  font-size: 10px;
}

.name {
  font-weight: 700;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  line-height: 20px;
  margin-bottom: 2px;
}

.loc {
  display: flex;
}

.distance {
  font-weight: 700;
  font-size: 10px;
  color: #666666;
}

.city {
  font-size: 10px;
  color: #666666;
}

.city::before {
  content: "•";
  margin: 0 5px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
